@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');

body {
  margin: 0;
  background: #191765;
  min-width: min-content;
  font-family: 'Roboto', sans-serif;
}

header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  width: 90%;
}

#brand {
  display: flex;
  align-items: center;
}

.hideBrand {
  display: none;
}

.nick {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.03em;
  color: #fff;
  margin-left: 12px;
}

.hamburguer {
  margin-right: 12.12px;
}

#hamburguerLink {
  margin: auto 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.menu {
  display: none;
}

ul {
  list-style: none;
}

.menu li a {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
}

.menu_mobile li a {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #edecff;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-right: 20px;
  margin-left: 20px;
}

.menu_mobile {
  display: none;
  position: absolute;
  width: 100%;
  height: 65%;
  right: 0;
}

.open .menu_mobile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #191765;
  background-image: url(../images/MobileMenuLeft.png), url(../images/MobileMenuRight.png);
  background-position: left top, right bottom;
  background-repeat: no-repeat, no-repeat;
}

.hamburg {
  content: url("../icons/x.png");
  margin-right: 20px;
  padding-top: 12px;
}

.menu_mobile li {
  display: flex;
  justify-content: space-between;
  padding-right: 40px;
  padding-left: 0;
  margin-top: 35px;
}

.sectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gridItem0 {
  background: url(../images/Ellipse18.png) left top no-repeat, url(../images/Ellipse19.png) right no-repeat;
}

.name {
  margin-top: 100px;
  height: 100px;
}

h1 {
  margin-top: 80px;
  color: #7d73fc;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  text-align: center;
}

h2 {
  font-family: 'Roboto', sans-serif;
  color: #edecff;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  margin-top: -20px;
}

.profession {
  transition-property: font-size, color;
}

section > h2 {
  position: static;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 8px;
  color: #9490ff;
}

.profession:hover {
  color: #7d73fc;
  font-size: 40px;
  transition-delay: 0.1s;
  transition-duration: 1.5s;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  text-align: left;
  margin-left: 24px;
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
  color: #9490ff;
  align-items: flex-start;
  padding-left: 24px;
  text-transform: uppercase;
}

h5 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  color: #9390ff;
  text-align: center;
}

.h5Lets {
  display: none;
}

h6 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  color: #fff;
}

.paragraph {
  margin-top: 80px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #c8c8d4;
  text-align: justify;
  line-height: 28px;
  align-self: auto;
  margin-left: 24px;
  margin-right: 24px;
}

.pContent {
  margin-left: 24px;
  margin-right: 24px;
  align-self: auto;
  text-align: center;
}

.imgWide,
.imgPlaceWide {
  display: none;
}

section > ul {
  display: flex;
  flex-direction: column;
  color: #f5f5ff;
  align-items: flex-start;
  padding: 0 7.16667px;
  position: static;
  height: 200px;
  left: 0;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0;
}

.socialContent {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 60px;
}

.socialContent ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
}

.socialContent ul li {
  float: left;
  padding: 2px 5px;
}

li > p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  color: #f5f5ff;
}

.experience {
  flex-wrap: wrap;
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-left: 70px;
  justify-content: left;
  width: 250px;
}

.box {
  width: 100px;
  height: 200px;
  padding: 10px 10px 10px 10px;
}

.vector {
  height: 30px;
  text-align: center;
}

/* Mobile version */
.grid-container {
  display: grid;
  grid-template-columns: auto;
}

.grid-item {
  align-self: auto;
  text-align: center;
}

.element {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.firstElement {
  display: none;
}

.work {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #a2a3ae;
  padding-left: 10px;
  padding-right: 10px;
}

.recent-work {
  display: flex;
  flex-direction: column;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.gridItem1 {
  background: url(../images/ImgPage1.png) left no-repeat;
}

.gridItem2 {
  background: url(../images/ImgPage2.png) right no-repeat;
}

.gridItem3 {
  background: url(../images/ImgPage3.png) left no-repeat;
}

.gridItem4 {
  background: url(../images/ImgPage4.png) right no-repeat;
}

.imgPlace {
  height: 236px;
  margin: 50px 24px;
}

.block {
  display: flex;
  flex-direction: column;
}

.block p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: justify;
  margin-left: 24px;
  margin-right: 24px;
  color: #dcdce8;
}

.block ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
}

.socialLinks ul li {
  padding: 2px 5px;
}

.formContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.formContent p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #f5f5ff;
  height: 105px;
  top: 59px;
}

label {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #f5f5ff;
  margin-top: 20px;
  margin-left: 0;
}

.skill p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
}

button {
  background: #7d73fc;
  color: #edecff;
  width: 89px;
  height: 48px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  margin-top: 20px;
  margin-left: 24px;
  border: 0;
}

.submitButton::before {
  content: 'See Project';
}

button:hover {
  box-shadow: 0 8px 16px rgba(125, 115, 252, 0.48);
}

button:active {
  background: #5e42d7;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 24px;
  top: 324px;
  margin: 40px 0;
}

input {
  height: 4em;
  width: 327px;
  padding-left: 22px;
}

input:focus {
  color: #191765;
}

.textInput {
  margin: 0 0 0 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #81818c;
}

.emailInput {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #191765;
  background: #f7f3ff;
}

.area {
  width: 330px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  resize: none;
  padding-left: 22px;
  padding-top: 15px;
}

.area::placeholder {
  color: #81818c;
}

footer {
  display: inline;
}

.emailRef {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #ebebff;
  font-family: 'Roboto', sans-serif;
  padding-left: 30px;
}

.shape {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 30px 0 30px 0;
}

.socialLinks {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.socialLinks ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 200px;
  margin: 0;
  padding: 0;
  align-items: center;
}

/* Details Popup */
.popupContent {
  display: none;
  position: fixed;
  width: 90%;
  height: 100%;
  top: 5%;
  left: 5%;
  right: 5%;
  z-index: 100;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.16);
  border: 1px solid #fff;
  box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
}

.heading {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-left: 30px;
}

.close {
  padding: 8px;
  position: static;
  width: 20px;
  height: 20px;
  right: 0;
  top: calc(50% - 40px / 2 - 9px);
  border-radius: 8px;
  margin: 15px 15px;
}

.snapshoot {
  background: url(../images/SnapshootPortfolio.png) no-repeat;
  width: 279px;
  height: 181px;
}

.supportingText p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  margin: 24px 24px;
}

.tags ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.tags ul li {
  text-align: center;
  border-right: 1px solid #81818c;
  padding: 0 10px 0 10px;
}

.tags ul li a p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
}

.tags ul li:last-child {
  border-right: none;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.buttons button {
  width: auto;
}

.containerSkils {
  display: inline;
}

.skill {
  float: left;
  text-align: center;
  flex-grow: 1;
  position: relative;
  border-right: 1px solid #81818c;
}

.blurContent {
  mix-blend-mode: multiply;
  filter: blur(24px);
}

.modal {
  width: 327px;
  height: 837px;
  left: 24px;
  top: 51px;
}

/* Media Query CSS */
@media screen and (min-width: 992px) {
  #hamburguerLink {
    display: none;
  }

  .nick {
    margin-left: 142px;
  }

  .menu {
    display: inline;
    display: flex;
    justify-content: space-around;
    min-width: 280px;
    margin-right: 142px;
  }

  .gridItem0 {
    background: url(../images/circleLeft.png) left top no-repeat, url(../images/circleRight.png) right no-repeat;
  }

  .h5Contact {
    display: none;
  }

  .h5Lets {
    display: inline;
  }

  .paragraph {
    padding-left: 420px;
    padding-right: 420px;
    padding-bottom: 80px;
  }

  .socialContent {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    width: 900px;
  }

  h1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 90px;
    line-height: 105px;
    text-align: center;
    color: #9391ff;
  }

  .imgNarrow,
  .imgPlace {
    display: none;
  }

  .imgWide,
  .imgPlaceWide {
    display: inline;
  }

  .firstElement {
    display: flex;
  }

  .page1,
  .page3 {
    flex-direction: row;
  }

  .page2,
  .page4 {
    flex-direction: row-reverse;
  }

  .gridItem1 {
    background: url(../images/Ellipse1.png) left no-repeat;
  }

  .gridItem2 {
    background: url(../images/Ellipse2.png) right no-repeat;
  }

  .gridItem3 {
    background: url(../images/Ellipse3.png) left no-repeat;
  }

  .gridItem4 {
    flex-direction: row-reverse;
    background: url(../images/Ellipse4.png) right top no-repeat;
  }

  .block p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #dfe1e6;
  }

  .block ul {
    align-items: flex-start;
  }

  .formContent p {
    width: 700px;
  }

  .submitButton::before {
    content: 'Send';
  }

  input,
  .area {
    width: 684px;
  }

  label {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #f5f5ff;
    margin-top: 20px;
    margin-left: 0;
  }

  .socialLinks {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .shape {
    display: none;
  }

  h4 {
    margin-top: 88px;
    margin-left: 142px;
    margin-bottom: 15px;
    text-transform: none;
  }

  button {
    background: #9390ff;
  }

  .experience {
    width: auto;
  }

  /* Modal Popup Media Query */

  .modal {
    width: 1200px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
  }

  .detailsContainer {
    background: rgba(255, 255, 255, 0.16);
    border: 1px solid #fff;
    box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
  }

  .snapshoot {
    background: url(../images/SnapshootPortfolio_Wide.png) no-repeat;
    width: 1108px;
    height: 505px;
  }

  h6 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #fff;
  }

  .supportingText p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #fff;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 70px;
  }

  .popupContent {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 10%;
    left: 0;
    z-index: 100;
  }
}
